
        body {
            font-family: Arial, sans-serif;
        }
        
        h1{
            text-align: center;
        }

        #taskInput {
            width: 70%;
            padding: 8px;
        }

        #addButton {
            padding: 8px;
            cursor: pointer;
        }

        #taskList {
            list-style-type: none;
            padding: 0;
        }

        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
            border: 1px solid #a4c20f;
            margin: 4px 0;
        }

        .deleteButton {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 0;
            cursor: pointer;
        }